{% extends "base_generic.html" %}

{% block content %}


<div class="jumbotron text-center" style="background-color: #6FB3B8;    padding-top: 10px !important;  padding-bottom: 10px !important;">
  <h1>Doctors List</h1>
  <div class="list-group"></div>
  {% if doctor_list %}
  
    {% for doctor in doctor_list %}
      
      <a href="{{ doctor.get_absolute_url }}" class="list-group-item list-group-item-action">{{ doctor.first_name }} {{doctor.last_name}}</a>
      
    {% endfor %}
  </ul>
   {% else %}
    <p>There are no doctors.</p>
   {% endif %}
  </div>

  
</div>
 
{% endblock %}

