{% extends "base_generic.html" %}

{% block content %}
<div class='row'>
  <div class="col-sm-12">

    <div class="jumbotron text-center" style="background-color: #F97432;    padding-top: 10px !important;  padding-bottom: 10px !important;">
    <h1>Your patients</h1>
  </div>
  </div>
    
   

      {% for visit in user.patient_card_set.all %}
      <div class="col-sm-6">
        <div class="jumbotron text-center" style="background-color: #C2EDCE;    padding-top: 10px !important;  padding-bottom: 10px !important;">


      <hr>
      <p class="{% if visit.status == 'c' %}text-success{% elif visit.status == 'n' %}text-danger{% else %}text-warning{% endif %}">
        {{ visit.get_status_display }}
      </p>
      {% if visit.status == 'a' and visit.is_overdue %}
      <p><strong>Visit date:</strong> {{ visit.visit_date }}  <a href="{% url 'mark_visit_doctor' visit.id %}">MarkVisit</a></p>
     
      {% elif visit.status == 'a' %}
        <p><strong>Visit date:</strong> {{ visit.visit_date }}</p>
      {% endif %}
      <p><strong>Animal:</strong> <a href="{{ visit.animal.get_absolute_url }}">{{ visit.animal }}</a></p>
      <p><strong>Owner:</strong> <a href="{{ visit.animal.owner_db.get_absolute_url }}">{{ visit.animal.owner_db }}</a></p>
      <p><strong>Disease:</strong> {{ visit.disease }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ visit.id }}</p>
      </div>
      </div>
      {% endfor %}
    

</div>    
{% endblock %}



